In [3]:
import mysql.connector
from getpass import getpass
import hashlib
import os
import time
from datetime import datetime
import sys

salt = b'32'

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQLRoot",
  database="aims")

if mydb.is_connected():
  db_Info = mydb.get_server_info()
  print("Connected to MySQL Server version ",db_Info)
    
mycursor = mydb.cursor()

Connected to MySQL Server version  8.0.31

In [5]:
def welcome():
    """
    Function to display the login screen
    """
    os.system("clear")
    print("""*********Welcome to AIMS portal********** 

Please login to continue

1: Student 
2: Faculty 
3: Academics
4: Quit

""")

In [6]:
def student(user_id):
    """
Function that displays home screen for student users
"""
    os.system("clear")
    print(""" ********Welcome student user*********

1. Logout.
2. Register/Deregister to course.
3. Compute CGPA.
4. View my gradesheet.
    """)

    option = input()
    
    if option == "1":
        logout(user_id)
        page()
    elif option=="2":
        print("Register/Deregister to course")
        sql = "SELECT * from course_offerings"
        mycursor.execute(sql)
        result=mycursor.fetchall()
        print(result)
        student(user_id)
    elif option=="3":
        print("Overall CGPA")
        sql = "select cgpa from student_1sem where id=%s"
        val = (user_id,)
        mycursor.execute(sql,val)
        result = mycursor.fetchall()
        #print(result[0][0])
        sql_1 = "select cgpa from student_2sem where id=%s"
        val_1 = (user_id,)
        mycursor.execute(sql_1,val_1)
        result_1 = mycursor.fetchall()
        #print(result_1[0][0])
        cgpa=(result[0][0]+result_1[0][0])/2
        print(cgpa)
        student(user_id)
        
        
        
    elif option == "4":
        print("Gradesheet")
        print("1sem grades:")
        sql = "select * from student_1sem where id=%s"
        val = (user_id,)
        mycursor.execute(sql,val)
        result_1 = mycursor.fetchall()
        print(result_1)
        
        print("2sem grades:")
        sql_1 = "select * from student_2sem where id=%s"
        val_1 = (user_id,)
        mycursor.execute(sql_1,val_1)
        result_2 = mycursor.fetchall()
        print(result_2)
        student(user_id)
    else:
        raise NotImplementedError()

In [ ]:
#student(202101)

In [24]:
def faculty(user_id):
    """
Function that displays home screen for faculty users
"""
    os.system("clear")
    print(""" ********Welcome Faculty user*********

1. Logout.
2. View all offered course.
3. View grade of a student.
4. Upload grade via .CSV file.
5. View student list.
6. Offer a course.
""")

    option = input()

    if option == "1":
        logout(user_id)
        page()
    elif option=="2":
        print("Academics offered courses")
        sql = "SELECT * from course_catalogue"
        mycursor.execute(sql)
        result=mycursor.fetchall()
        print(result)
        faculty(user_id)
    elif option=="3":
        print("Student Grades")
        id=input("Enter id of studet")
        print("1st semester grades:")
        sql = "SELECT * from student_1sem where id=%s "
        val=(id,)
        mycursor.execute(sql,val)
        result=mycursor.fetchall()
        print(result)
        print("2nd semester grades:")
        sql_1 = "SELECT * from student_2sem where id=%s"
        val_1=(id,)
        mycursor.execute(sql_1,val_1)
        result_1=mycursor.fetchall()
        print(result_1)
        faculty(user_id)
    elif option=="4":
        print("Upload grade via .CSV file")
        faculty(user_id)
    elif option=="5":
        print("Student List")
        sql_2 = "SELECT * from student_details"
        mycursor.execute(sql_2)
        result_2=mycursor.fetchall()
        print(result_2)
        faculty(user_id)
    elif option=="6":
        print("Academics offered courses")
        sql = "SELECT * from course_catalogue"
        mycursor.execute(sql)
        result=mycursor.fetchall()
        print(result)
        
        course_id=input("Enter course id from above table to offer")
        print("Selected course is :",course_id)
        
        sql_1 = "SELECT course_id,course_name,LTPSC,prereq from course_catalogue where course_id=%s "
        val_1=(course_id,)
        mycursor.execute(sql_1,val_1)
        result_1=mycursor.fetchall()
        print(result_1)
        
        
        sql_2 = "SELECT id,name from faculty_details  where id=%s "
        val_2=(user_id,)
        mycursor.execute(sql_2,val_2)
        result_2=mycursor.fetchall()
        print(result_2)
        
        '''print("Test")
        print(result_1[0][0])
        print(result_1[0][1])
        print(result_1[0][2])
        print(result_2[0][1])
        print(result_1[0][4])
        print(result_2[0][0])'''
        
        
        
        sql_3="insert into course_offerings(course_id,course_name,LTPSC,instructor,prereq,instructor_id)values(%s,%s,%s,%s,%s,%s)"
        val_3=(result_1[0][0],result_1[0][1],result_1[0][2],result_2[0][1],result_1[0][3],result_2[0][0])
        mycursor.execute(sql_3,val_3)
        result_3=mycursor.fetchall()
        print(result_3)
        print("data inserted into course offerings table")
        
        faculty(user_id)
    else:
        raise NotImplementedError()

In [26]:
#faculty(200802)

 ********Welcome Faculty user*********

1. Logout.
2. View all offered course.
3. View grade of a student.
4. Upload grade via .CSV file.
5. View student list.
6. Offer a course.

Academics offered courses
[('CS503', 'Machine Learning', '30273', 8), ('CS504', 'Artificial Neural Networks', '30063', 8), ('CS505', 'Digital Imaging systems', '20253', 7), ('CS507', 'Multimedia systems', '20253', 6), ('CS510', 'Advanced Computer Architecture', '31053', 6), ('CS511', 'Real Time Systems', '20253', 7), ('CS512', 'Artificial Intelligence', '30274', 8), ('CS515', 'Computer graphics', '30063', 7)]
Selected course is : CS504
[('CS504', 'Artificial Neural Networks', '30063', 8)]
[(200802, 'bbb')]
[]
data inserted into course offerings table
 ********Welcome Faculty user*********

1. Logout.
2. View all offered course.
3. View grade of a student.
4. Upload grade via .CSV file.
5. View student list.
6. Offer a course.

logged out successfully: 200802

In [8]:
def login(user_type,username,password):
    """
Function to authenticate username and password.
"""
    sql = "SELECT user_type,id,password FROM user_pass WHERE id = %s AND user_type = %s"
    val = (username,user_type)
    mycursor.execute(sql,val)

    results = mycursor.fetchall()
    #print(results)

    if len(results) == 0:
        print("No such user present in database")
        return False,None
    
    if len(results) == 1:
        #hashed_pass = hashlib.pbkdf2_hmac('sha256', password.encode('utf-8'), salt, 100000)
        
        if results[0][2] == password:
            
            ts = time.time()
            
            timestamp = datetime.fromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')
            '''print(timestamp)
            print(results[0][0])
            print(results[0][1])
            print(results[0][2])'''
        

            sql = "INSERT INTO log_details(user_id,login_time) VALUES (%s,%s)"
            val = (results[0][1],timestamp)

            mycursor.execute(sql,val)
            mydb.commit()
            #print(mycursor.fetchall())
            print("Login successful")
            time.sleep(1)
            
            return True,results[0][1]
        else:
            print("Login Denied: Wrong password")
            return False,None
    else:
        print("Multiple users present. Contact Admin")
        return False,None

In [9]:
def logout(user_id):
    sql = "DELETE FROM log_details WHERE user_id =  %s"
    val = (user_id,)

    mycursor.execute(sql,val)
    mydb.commit()
    print("logged out successfully:",user_id)

In [10]:
from select import select


def academics(user_id):
    """
    Function that displays home screen for academic users
"""
    os.system("clear")
    print(""" Welcome Academics office user

1. Logout.
2. Create course.
3. View transcript of a student.
4. Generate transcript for a student.
""")

    option = input()

    if option == "1":
        logout(user_id)
        page()
    elif option=="2":
        print("create a course")
        course_id=input("course_id:")
        course_name=input("course_name:")
        LTPSC=input("LTPSC:")
        prereq=input("prereq:")
        sql="insert into course_catalogue(course_id,course_name,LTPSC,prereq)values(%s,%s,%s,%s)" 
        val=(course_id,course_name,LTPSC,prereq)
        mycursor.execute(sql,val)
        print("New course inserted",course_id)
        academics(user_id)
    elif option=="3":
        student=input("Enter student id to print transcript")
        sql="select id,name,batch,doj,others from student_details where id=%s"
        val=(student,)
        mycursor.execute(sql,val)
        result=mycursor.fetchall()
        #print(result)
        
        sql_1="select cgpa from student_1sem where id=%s"
        val_1=(student,)
        mycursor.execute(sql_1,val_1)
        result_1=mycursor.fetchall()
        #print(result_1)

        sql_2="select cgpa from student_2sem where id=%s"
        val_2=(student,)
        mycursor.execute(sql_2,val_2)
        result_2=mycursor.fetchall()
        '''print(result_2)
        print("Test")
        print(result[0][0])
        print(result[0][1])
        print(result[0][2])
        print(result[0][3])
        print(result[0][4])
        print(result_1[0][0])
        print(result_2[0][0])'''
        
        
        print("Transcript of {}".format(result[0][0]))
        print("Id:{}".format(result[0][0]))
        print("Name:{}".format(result[0][1]))
        print("Batch:{}".format(result[0][2]))
        print("DOJ:{}".format(result[0][3]))
        print("Mobile:{}".format(result[0][4]))
        print("1st Semester grade:{}".format(result_1[0][0]))
        print("2nd semester grade:{}".format(result_2[0][0]))
        cgpa=(result_1[0][0]+result_2[0][0])/2
        print("Overall CGPA:{}".format(cgpa)) 
        academics(user_id)       
        
    elif option=="4":
        student=input("Enter student id to print transcript")
        sql="select id,name,batch,doj,others from student_details where id=%s"
        val=(student,)
        mycursor.execute(sql,val)
        result=mycursor.fetchall()
        #print(result)
        
        sql_1="select cgpa from student_1sem where id=%s"
        val_1=(student,)
        mycursor.execute(sql_1,val_1)
        result_1=mycursor.fetchall()
        #print(result_1)

        sql_2="select cgpa from student_2sem where id=%s"
        val_2=(student,)
        mycursor.execute(sql_2,val_2)
        result_2=mycursor.fetchall() 
        
        with open('transcript.txt', 'w') as f:
            f.write("Transcript of {}\n".format(result[0][0]))
            f.write("Id:{}\n".format(result[0][0]))
            f.write("Name:{}\n".format(result[0][1]))
            f.write("Batch:{}\n".format(result[0][2]))
            f.write("DOJ:{}\n".format(result[0][3]))
            f.write("Mobile:{}\n".format(result[0][4]))
            f.write("1st Semester grade:{}\n".format(result_1[0][0]))
            f.write("2nd semester grade:{}\n".format(result_2[0][0]))
            cgpa=(result_1[0][0]+result_2[0][0])/2
            f.write("Overall CGPA:{}\n".format(cgpa))     
        f.close()
        
        print("Transcript ")
        academics(user_id)
    else:
        raise NotImplementedError()

In [ ]:
#academics(7007)

In [11]:
def page():
    welcome()
    user_type = input("Enter usertype:")
    if(user_type=="1"):
        print("Welcome Student, Enter username and password")
    elif(user_type=="2"):
        print("Welcome Faculty, Enter username and password")
    elif(user_type=="3"):
        print("Welcome Academics, Enter username and password")
    elif(user_type=="4"):
        sys.quit()
    else:
        print("enter valid usertype")
        page()
        

    # user_type = 3
    # username = "admin"
    # password = "password"

    if user_type not in ["1","2","3"]:
        print("No such user type. Please try again")
        time.sleep(1)
        page()

    username = input("Username: ")
    password = getpass()
    #print(user_type,username,password)

    success,user_id = login(user_type,username,password)
    print(success,user_id)
    
    if success:
        if user_type == "3":
            academics(user_id)
        elif user_type == "2":
            faculty(user_id)
        elif user_type == "1":
            student(user_id)
        else:
            print("Login denied. Please try again")
            time.sleep(3)
            page()

In [ ]:
page()

In [ ]:
logout(7007)